<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/Column_Transformer_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# without column transformer
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [2]:
df=pd.read_csv('/content/insurance - insurance (1).csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=df.drop(columns=['charges'])
y=df['charges']

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=23)

In [10]:
x_train.shape

(1070, 6)

In [9]:
oe=OrdinalEncoder(categories=[['male','female'],['no','yes'],['southwest','southeast','northwest','northeast']])

x_train_sex_smoker_region=oe.fit_transform(x_train[['sex','smoker','region']])

# for test data
x_test_sex_smoker_region=oe.fit_transform(x_test[['sex','smoker','region']])

x_train_sex_smoker_region.shape

(1070, 3)

In [14]:
# now extract column

x_train_age = x_train[['age']].values
x_test_age = x_test[['age']].values
x_train_age.shape

(1070, 1)

In [21]:
x_train_bmi = x_train[['bmi']].values
x_test_bmi = x_test[['bmi']].values
x_train_bmi.shape

(1070, 1)

In [16]:
x_train_children = x_train[['children']].values
x_test_children = x_test[['children']].values
x_train_children.shape

(1070, 1)

In [19]:
x_train_transformed=np.concatenate((x_train_age,x_train_bmi,x_train_children,x_train_sex_smoker_region),axis=1)

In [22]:
x_test_transformed=np.concatenate((x_test_age,x_test_bmi,x_test_children,x_test_sex_smoker_region),axis=1)

In [23]:
x_train_transformed.shape

(1070, 6)

In [ ]:
# with column transformer

In [24]:
from sklearn.compose import ColumnTransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['male','female']]),['sex']),
    ('tnf2',OrdinalEncoder(categories=[['no','yes']]),['smoker']),
    ('tnf3',OrdinalEncoder(categories=[['southwest','southeast','northwest','northeast']]),['region'])
],remainder='passthrough')

In [25]:
transformer.fit_transform(x_train).shape

(1070, 6)

In [26]:
transformer.fit_transform(x_test).shape

(268, 6)

# 2.

In [ ]:
# without column Transformer

In [27]:
df=pd.read_csv('/content/credit_scoring - credit_scoring.csv')
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [28]:
df.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [40]:
df['Employment Status'].value_counts()

Employment Status
Self-Employed    347
Employed         328
Unemployed       325
Name: count, dtype: int64

In [30]:
x=df.drop(columns=['Credit Utilization Ratio'])
y=df['Credit Utilization Ratio']

In [31]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=32)

In [43]:
# ordinal encoding -->

oe=OrdinalEncoder(categories=[['Male','Female'],['Married','Single','Divorced'],['Master','High School','PhD','Bachelor']
                              ,['Self-Employed','Employed','Unemployed'],['Auto Loan','Home Loan','Personal Loan']])
x_train_s_m_e_ma_l=oe.fit_transform(x_train[['Gender','Marital Status','Education Level','Employment Status','Type of Loan']])

x_test_s_m_e_ma_l=oe.fit_transform(x_test[['Gender','Marital Status','Education Level','Employment Status','Type of Loan']])

x_train_s_m_e_ma_l.shape

(800, 5)

In [44]:
# extract

x_train_Age = x_train[['Age']].values
x_test_Age = x_test[['Age']].values
x_train_Age.shape

(800, 1)

In [45]:
x_train_Payment_History = x_train[['Payment History']].values
x_test_Payment_History = x_test[['Payment History']].values
x_train_Payment_History.shape

(800, 1)

In [46]:
x_train_Number_of_Credit_Accounts = x_train[['Number of Credit Accounts']].values
x_test_Number_of_Credit_Accounts = x_test[['Number of Credit Accounts']].values
x_train_Number_of_Credit_Accounts.shape

(800, 1)

In [47]:
x_train_Loan_Amount = x_train[['Loan Amount']].values
x_test_Loan_Amount = x_test[['Loan Amount']].values
x_train_Loan_Amount.shape

(800, 1)

In [48]:
x_train_Interest_Rate= x_train[['Interest Rate']].values
x_test_Interest_Rate = x_test[['Interest Rate']].values
x_train_Interest_Rate.shape

(800, 1)

In [49]:
x_train_Loan_Term = x_train[['Loan Term']].values
x_test_Loan_Term = x_test[['Loan Term']].values
x_train_Loan_Term.shape

(800, 1)

In [51]:
x_train_transformed = np.concatenate((x_train_Age,x_train_Payment_History,x_train_Number_of_Credit_Accounts,
                                      x_train_Loan_Amount,x_train_Interest_Rate,x_train_Loan_Term,x_train_s_m_e_ma_l),axis=1)

In [52]:
x_test_transformed = np.concatenate((x_test_Age,x_test_Payment_History,x_test_Number_of_Credit_Accounts,
                                      x_test_Loan_Amount,x_test_Interest_Rate,x_test_Loan_Term,x_test_s_m_e_ma_l),axis=1)

In [53]:
x_train_transformed.shape

(800, 11)

In [ ]:
# with column transformer

In [56]:
transformed=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['Male','Female']]),['Gender']),
    ('tnf2',OrdinalEncoder(categories=[['Married','Single','Divorced']]),['Marital Status']),
    ('tnf3',OrdinalEncoder(categories=[['Master','High School','PhD','Bachelor']]),['Education Level']),
    ('tnf4',OrdinalEncoder(categories=[['Self-Employed','Employed','Unemployed']]),['Employment Status']),
    ('tnf5',OrdinalEncoder(categories=[['Auto Loan','Home Loan','Personal Loan']]),['Type of Loan'])
],remainder='passthrough')

In [58]:
transformed.fit_transform(x_train).shape

(800, 11)

In [60]:
transformed.fit_transform(x_test).shape

(200, 11)