<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/Feature_scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Min-Max scaling(Normalization)
implemantation of min max scaling

min=0 max=1

In [1]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [2]:
li=[10,20,30,40,50]
scaler=MinMaxScaler()
transformed_data= scaler.fit_transform([[10],[20],[30],[40],[50]] )

# Fit and transform?
# Fit in min max-> find min=10 max=50 --> after finding the
# mean and max it start calculating min max scaling

# Transform--> start applying into the data

In [3]:
print(transformed_data)

[[0.  ]
 [0.25]
 [0.5 ]
 [0.75]
 [1.  ]]

# 2.Standarization
implementation of satndard score scaling

mean=0 std=1

In [4]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [5]:
stdscaler=StandardScaler()
scaled=stdscaler.fit_transform([[10],[20],[30],[40],[50]])

In [6]:
print(scaled)

[[-1.41421356]
 [-0.70710678]
 [ 0.        ]
 [ 0.70710678]
 [ 1.41421356]]

In [7]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('/content/loan_data - loan_data.csv')
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27,male,Associate,47971,6,RENT,15000,MEDICAL,15.66,0.31,3,645,No,1
44996,37,female,Associate,65800,17,RENT,9000,HOMEIMPROVEMENT,14.07,0.14,11,621,No,1
44997,33,male,Associate,56942,7,RENT,2771,DEBTCONSOLIDATION,10.02,0.05,10,668,No,1
44998,29,male,Bachelor,33164,4,RENT,12000,EDUCATION,13.23,0.36,6,604,No,1
44999,24,male,High School,51609,1,RENT,6665,DEBTCONSOLIDATION,17.05,0.13,3,628,No,1

In [12]:
# Target and independent variable

# independent variale --> the features or the variables which do not
# dependent on any other features

# Target variable or target column

X=df.drop(columns=['loan_status'])
y=df['loan_status']

In [13]:
X

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file
0,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No
1,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes
2,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No
3,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No
4,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27,male,Associate,47971,6,RENT,15000,MEDICAL,15.66,0.31,3,645,No
44996,37,female,Associate,65800,17,RENT,9000,HOMEIMPROVEMENT,14.07,0.14,11,621,No
44997,33,male,Associate,56942,7,RENT,2771,DEBTCONSOLIDATION,10.02,0.05,10,668,No
44998,29,male,Bachelor,33164,4,RENT,12000,EDUCATION,13.23,0.36,6,604,No
44999,24,male,High School,51609,1,RENT,6665,DEBTCONSOLIDATION,17.05,0.13,3,628,No

In [15]:
y

0        1
1        0
2        1
3        1
4        1
        ..
44995    1
44996    1
44997    1
44998    1
44999    1
Name: loan_status, Length: 45000, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [17]:
df.shape

(45000, 14)

In [18]:
X_train.shape

(36000, 13)

In [19]:
X_test.shape

(9000, 13)

In [20]:
y_test.shape

(9000,)

In [21]:
y_train.shape

(36000,)