<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Call by reference--->

In [ ]:
a=1
b=a
print(id(a),id(b))
b=2
print(id(a),id(b))

10757736 10757736
10757736 10757768

In [ ]:
mynum=["tushar",1000,3000]
mynum.append("Regex")

mynum.insert(1,"Yash")
print(mynum)

['tushar', 'Yash', 1000, 3000, 'Regex']

In [ ]:
num=["Tushar","yash",1000,3000,"regex"]
a=num.pop(1)   #by default delete last index and return the value
print(num)

['Tushar', 1000, 3000, 'regex']

In [ ]:
print(a)

yash

In [ ]:
num=[1,2,3,4,5]
sum=0
for i in num:
  sum=sum+i
print(sum)

15

In [ ]:
num=[1,2,3,4,5]
count=0
for i in num:
  count=count+1
print(count)

5

In [ ]:
num=['a',1,'b',2,'c',7]
count=0
for i in num:
  if(type(i)==int):
    count+=1
print(count)

3

In [ ]:
num=[1,2,3,4,5,6,7]
sum=0
count=0
for i in num:
  sum+=i
  count+=1
avg=sum//count
print(avg)

4

In [ ]:
num=[1,2,3,4,5,6,7]
sum=0
for i in num:
  sum=num[0]+num[6]+num[3]
print(sum)

12

In [ ]:
num=[1,2,3,4,5,6,7]
mynum=[]
for i in num:
   a=i**3
   mynum.append(a)
print(mynum)

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
num=[1,2,3,4,5,6,7]
count=0
for i in num:
  count+=1
first

TypeError: object of type 'int' has no len()

In [ ]:
#index method---->

In [ ]:
mylist=[10,20,30,40]
max=mylist[0]
for i in range(0,4):
  if(mylist[i]>max):
    max=mylist[i]
print(max)

40

In [ ]:
mylist=[10,20,30,40,50,60]
for i in range(0,6):
  if(i%2==0):
    print(mylist[i])

10
30
50

In [ ]:
mylist=[105,20,305,40]
a=0    #to make a,a+b,b+c....
newlist=[]
for i in range(0,4):
  a=a+mylist[i]
  newlist.append(a)
print(newlist)

[105, 125, 430, 470]

In [ ]:
#Take a list and check the element of list is prime,then print that element otherwise not

for num in [1,2,3,4,5,6,7,8]:
  count=0
  for i in range(1,num+1):
    if(num%i==0):
     count+=1
  if(count>2):
   print("Not a prime no.",num)
  else:
   print("Prime number",num)

Prime number 1
Prime number 2
Prime number 3
Not a prime no. 4
Prime number 5
Not a prime no. 6
Prime number 7
Not a prime no. 8

In [ ]:
n=int(input("Enter your no."))
count=0
for i in range(2,n+1):
  if(n%i==0):
    count+=1
if(count>2):
  print("Not a prime no.")
else:
  print("Prime number")

Enter your no.6
Not a prime no.

In [ ]:
for n in [522,4567,23445,567867]:
  count=0
  temp=n
  while(n>0):
    n=n//10
    count+=1
  if(count==4):
    print(temp)

4567

In [ ]:

#[10,20,30,20,10]->pallindrome

num=[10,20,30,20,10]
a=0
new=num
for i in range(0,5):
  if(num[i]!=new[i]):
    a=1
  break
if(a==1):
  print("not a pallindrome")
else:
  print("pallindrome")

pallindrome

In [ ]:
#Duplicate value--->

In [10]:
mylist=[10,20,30,10,20,50]
for index in range(0,len(mylist)):

  for j in range(index+1,len(mylist)):
    if(mylist[index]==mylist[j]):
      print("duplicate is:",mylist[j])

duplicate is: 10
duplicate is: 20

In [11]:
mylist=[-2,0,1,2,5,7,14,21]
for index in range(0,len(mylist)):
  for j in range(index+1,len(mylist)):
    if(mylist[index]+mylist[j]==9):
      print(mylist[index],mylist[j])

2 7

In [ ]:
#three way to swap--->

In [12]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [13]:
a=10
b=20
c=0
c=a
a=b
b=c
print(a,b)

20 10

In [14]:
a=10
b=20
c=a+b
b=c-b
a=c-a
print(a,b)

20 10

In [ ]:
newlist=[10,20,30,40,50]
#reverse this list

In [26]:
newlist=[10,20,30,40,50]

j=len(newlist)-1
for i in range(len(newlist)//2):
    s=newlist[i]
    newlist[i]=newlist[j]
    newlist[j]=s
    j-=1
print(newlist)

[50, 40, 30, 20, 10]

In [17]:
newlist=[10,20,30,40,50]
j=len(newlist)-1
i=0
while(i<j):
  s=newlist[i]
  newlist[i]=newlist[j]
  newlist[j]=s
  i+=1
  j-=1
print(newlist)

[50, 40, 30, 20, 10]