<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/ML_(Column_Transformer)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Column Transformer-->

In [ ]:
# without column transformer
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [ ]:
df=pd.read_csv('/content/covid_toy - covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [ ]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [ ]:
x_train

    age  gender  fever   cough     city
82   24    Male   98.0    Mild  Kolkata
7    20  Female    NaN  Strong   Mumbai
9    64  Female  101.0    Mild    Delhi
12   25  Female   99.0  Strong  Kolkata
72   83  Female  101.0    Mild  Kolkata
..  ...     ...    ...     ...      ...
75    5    Male  102.0    Mild  Kolkata
10   75  Female    NaN    Mild    Delhi
92   82  Female  102.0  Strong  Kolkata
29   34  Female    NaN  Strong   Mumbai
71   75  Female  104.0  Strong    Delhi

[80 rows x 5 columns]

# Manually type output

In [ ]:
# adding simple imputer to fever column

si=SimpleImputer(strategy = "mean")
x_train_fever=si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever=si.fit_transform(x_test[['fever']])


x_train_fever.shape

(80, 1)

In [ ]:
# Ordinal Encoding ---> Cough

oe = OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])


# also the test data
x_test_cough=oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [ ]:
# OneHot Encoding ---> Gender,City

ohe=OneHotEncoder(drop='first',sparse_output= False)

x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])


# also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [ ]:
# Extracting Age

x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data

x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

In [ ]:
x_train_age.shape

(80, 1)

In [ ]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [ ]:
x_test_transformed=np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

In [ ]:
x_train_transformed.shape

(80, 7)

# By the help of column Transformer

In [ ]:
from sklearn.compose import ColumnTransformer  # this is how to import columntransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),  # in a 'fever' column by the
    # the help of SI we fill missing values by mean , meadian , mode.
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    # by this process we encode our data.
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

# remainder = passthrough ==> it means rest all the columns remain same.

In [ ]:
transformer.fit_transform(x_train).shape

(80, 7)

In [ ]:
transformer.fit_transform(x_test).shape

(20, 7)

# 2.

In [ ]:
import seaborn as sns

In [ ]:
df=sns.load_dataset('tips')

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
x=df.drop(columns=['total_bill'])
y=df['total_bill']

In [ ]:
x_train , x_test, y_train , y_test=train_test_split(x,y,test_size=0.2,random_state=22)

In [ ]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [ ]:
x_train.shape

(195, 6)

In [ ]:
# ordinal encoding -> sex,smoker,time

oe=OrdinalEncoder(categories=[['Male','Female'],['No','Yes'],['Dinner','Lunch']])

x_train_sex_smoker_time=oe.fit_transform(x_train[['sex','smoker','time']])

# for test data
x_test_sex_smoker_time=oe.fit_transform(x_test[['sex','smoker','time']])

x_train_sex_smoker_time.shape

(195, 3)

In [ ]:
# one hot encoding --> day

ohe=OneHotEncoder(sparse_output=False,drop='first')
x_train_day=ohe.fit_transform(x_train[['day']])

# for test data
x_test_day=ohe.fit_transform(x_test[['day']])

x_train_day.shape

(195, 3)

In [ ]:
# extract size column

x_train_size = x_train[['size']].values

In [ ]:
x_train_size.shape

(195, 1)

In [ ]:
x_test_size = x_test[['size']].values

In [ ]:
# extract tip column
x_train_tip = x_train[['tip']].values

x_test_tip = x_test[['tip']].values

x_train_tip.shape

(195, 1)

In [ ]:
x_train_transformed=np.concatenate((x_train_tip,x_train_size,x_train_day,x_train_sex_smoker_time),axis=1)

In [ ]:

x_test_transformed=np.concatenate((x_test_tip,x_test_size,x_test_day,x_test_sex_smoker_time),axis=1)

In [ ]:
x_train_transformed.shape

(195, 8)

# with column transformer

In [ ]:
from sklearn.compose import ColumnTransformer  # this is how to import columntransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['No','Yes']]),['smoker']),

    ('tnf2',OrdinalEncoder(categories=[['Male','Female']]),['sex']),
    # by this process we encode our data.

    ('tnf3',OrdinalEncoder(categories=[['Dinner','Lunch']]),['time']),
    ('tnf4',OneHotEncoder(sparse_output=False,drop='first'),['day'])
],remainder='passthrough')

In [ ]:
transformer.fit_transform(x_train).shape

(195, 8)

In [ ]:
transformer.fit_transform(x_test).shape

(49, 8)