<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/ML_Test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You have to do these taks on this dataset :
1. import the data
2. Handle missing values if there are
3. Data Dividation using train_test_split
4. Convert Your x_train data into Noormal distribution using Standardization
5. Convert your normal distributed array into dataframe and then export this dataframe into excel  and csv format .

In [14]:
import pandas as pd
import numpy as np

In [15]:
# 1. import the data
df=pd.read_csv("/content/Churn_Modelling - Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
# 2. Handle missing values if there are

df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [17]:
df["Gender"] = df["Gender"].map({'Male':1,'Female':0})
df['Geography']=df['Geography'].map({'France':0,'Spain':1,'Germany':2})
df.drop(columns=["Surname"],inplace=True)

In [18]:
# 3. Data Dividation using train_test_split

x=df.drop(columns=["Exited"])
y=df["Exited"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=12)

In [21]:
np.round(x_train.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,4982.35,15690740.32,650.44,0.75,0.55,38.91,5.03,76625.83,1.53,0.71,0.52,99944.43
std,2891.50,71873.30,97.08,0.83,0.50,10.51,2.89,62373.50,0.58,0.46,0.50,57525.66
min,1.00,15565714.00,350.00,0.00,0.00,18.00,0.00,0.00,1.00,0.00,0.00,11.58
25%,2483.75,15628288.75,584.00,0.00,0.00,32.00,3.00,0.00,1.00,0.00,0.00,50910.68
50%,4974.50,15690671.50,651.00,0.00,1.00,37.00,5.00,97387.36,1.00,1.00,1.00,99913.85
75%,7465.50,15752803.00,718.00,2.00,1.00,44.00,8.00,127785.45,2.00,1.00,1.00,149190.17
max,10000.00,15815660.00,850.00,2.00,1.00,92.00,10.00,238387.56,4.00,1.00,1.00,199992.48

In [27]:
#4. Convert Your x_train data into Noormal distribution using Standardization

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc=StandardScaler()

In [24]:
x_train_sc=sc.fit_transform(x_train)

In [25]:
# 5. Convert your normal distributed array into dataframe and then export this dataframe into excel  and csv format .
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [26]:
np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,-0.00,-0.00,-0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.72,-1.74,-3.10,-0.90,-1.10,-1.99,-1.74,-1.23,-0.91,-1.55,-1.03,-1.74
25%,-0.86,-0.87,-0.68,-0.90,-1.10,-0.66,-0.70,-1.23,-0.91,-1.55,-1.03,-0.85
50%,-0.00,-0.00,0.01,-0.90,0.91,-0.18,-0.01,0.33,-0.91,0.65,0.97,-0.00
75%,0.86,0.86,0.70,1.51,0.91,0.48,1.03,0.82,0.81,0.65,0.97,0.86
max,1.74,1.74,2.06,1.51,0.91,5.05,1.72,2.59,4.26,0.65,0.97,1.74

In [28]:
x_train_new.to_csv("x_train_new.csv", index=False)

# On Attrition data

In [74]:
df=pd.read_csv("/content/Attrition - Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [75]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [63]:
df['EducationField'].value_counts()

EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

In [77]:
df['BusinessTravel']=df['BusinessTravel'].map({'Travel_Rarely':0,'Travel_Frequently':1,'Non-Travel':2})
df['Department']=df['Department'].map({'Sales':0,'Research & Development':1,'Human Resources':2})
df['EducationField']=df['EducationField'].map({'Life Sciences':0,'Other':1,'Medical':2,'Marketing':3,'Technical Degree':4,'Human Resources':5})

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int64
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(29), object(6)
memory usage: 402.1+ KB

In [79]:
df['Over18']=df['Over18'].map({'Y':1,'N':0})
df['Gender']=df['Gender'].map({'M':1,'F':0})
df['MaritalStatus']=df['MaritalStatus'].map({'Single':0,'Married':1,'Divorced':2})
df['JobRole']=df['JobRole'].map({'Sales Executive':0,'Research Scientist':1,'Laboratory Technician':2,'Manufacturing Director':3,'Healthcare Representative':4,'Manager':5,'Sales Representative':6,'Research Director':7,'Human Resources':8})
df['OverTime']=df['OverTime'].map({'Yes':1,'No':0})

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int64
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    0 non-null      float64
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int64
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int64
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int64
 22  OverTime                  1470 non-null   int64
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(1), int64(33), object(1)
memory usage: 402.1+ KB

In [81]:
x=df.drop(columns=['Attrition'])
y=df['Attrition']

In [82]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

In [83]:
np.round(x_train.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00
mean,36.79,0.40,814.29,0.74,9.23,2.90,1.48,1.0,1020.67,2.74,...,2.73,80.0,0.80,11.11,2.84,2.74,6.94,4.21,2.16,4.08
std,9.10,0.67,402.36,0.53,8.11,1.02,1.44,0.0,608.71,1.09,...,1.08,0.0,0.85,7.77,1.32,0.72,6.18,3.63,3.20,3.58
min,18.00,0.00,102.00,0.00,1.00,1.00,0.00,1.0,1.00,1.00,...,1.00,80.0,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,0.00,477.75,0.00,2.00,2.00,0.00,1.0,486.75,2.00,...,2.00,80.0,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,35.00,0.00,811.50,1.00,7.00,3.00,2.00,1.0,1005.50,3.00,...,3.00,80.0,1.00,9.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,42.25,1.00,1176.00,1.00,14.00,4.00,2.00,1.0,1576.25,4.00,...,4.00,80.0,1.00,15.00,3.00,3.00,9.00,7.00,2.25,7.00
max,60.00,2.00,1499.00,2.00,29.00,5.00,5.00,1.0,2068.00,4.00,...,4.00,80.0,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

In [85]:
sc=StandardScaler()

In [86]:
x_train_sc=sc.fit_transform(x_train)

/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.12/dist-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [90]:
x_train_new2=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [92]:
np.round(x_train_new2.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00
mean,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,0.0,0.00,-0.00,...,0.00,0.0,0.00,-0.00,-0.00,-0.00,-0.00,0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.06,-0.59,-1.77,-1.41,-1.02,-1.86,-1.03,0.0,-1.68,-1.60,...,-1.61,0.0,-0.94,-1.43,-2.16,-2.42,-1.12,-1.16,-0.68,-1.14
25%,-0.75,-0.59,-0.84,-1.41,-0.89,-0.88,-1.03,0.0,-0.88,-0.68,...,-0.68,0.0,-0.94,-0.66,-0.64,-1.03,-0.64,-0.61,-0.68,-0.58
50%,-0.20,-0.59,-0.01,0.48,-0.28,0.10,0.36,0.0,-0.02,0.24,...,0.25,0.0,0.24,-0.27,0.12,0.36,-0.31,-0.33,-0.36,-0.30
75%,0.60,0.90,0.90,0.48,0.59,1.08,0.36,0.0,0.91,1.16,...,1.18,0.0,0.24,0.50,0.12,0.36,0.33,0.77,0.03,0.82
max,2.55,2.39,1.70,2.38,2.44,2.06,2.45,0.0,1.72,1.16,...,1.18,0.0,2.59,3.72,2.41,1.75,5.35,3.80,4.01,3.61

In [93]:
x_train_new2.to_csv("x_train_new2.csv", index=False)