<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/Test_%3E2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.In cars data , You have to apply  Standardscaler , And check outliers and if there are outliers then handle it .

2.In credit scoring data , you have to apply Encoding(All types) , And let suppose you encode all data from label encooder then on all numerical data you have to apply log transformation  using function transofrmer .

In [1]:
# 1.In cars data , You have to apply Standardscaler , And check outliers and if there are outliers then handle it .

In [2]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('/content/cars - cars.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC BSII,1992,50000,100000,Petrol,Individual,Manual,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,1995,95000,100000,Petrol,Individual,Manual,Second Owner
2,Mahindra Jeep CL 500 MDI,1996,250000,35000,Diesel,Individual,Manual,Second Owner
3,Mahindra Jeep MM 540,1996,200000,60000,Diesel,Individual,Manual,First Owner
4,Mahindra Jeep CL 500 MDI,1997,150000,120000,Diesel,Individual,Manual,Third Owner

In [53]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [39]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [55]:
df['name']=le.fit_transform(df['name'])
df['fuel']=le.fit_transform(df['fuel'])
df['transmission']=le.fit_transform(df['transmission'])
df['owner']=le.fit_transform(df['owner'])
df['seller_type']=le.fit_transform(df['seller_type'])

In [56]:
x=df.drop(columns=['selling_price'])
y=df['selling_price']

In [57]:
df.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,776,1992,50000,100000,4,1,1,1
1,901,1995,95000,100000,4,1,1,2
2,647,1996,250000,35000,1,1,1,2

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [59]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [60]:
x_train_sc=sc.fit_transform(x_train)

In [61]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [62]:
x_train_new.describe()

,name,year,km_driven,fuel,seller_type,transmission,owner
count,3.472000e+03,3.472000e+03,3.472000e+03,3.472000e+03,3.472000e+03,3.472000e+03,3.472000e+03
mean,-2.046494e-18,-1.781678e-14,1.299524e-16,7.776677e-17,1.483708e-17,1.534871e-16,1.944169e-17
std,1.000144e+00,1.000144e+00,1.000144e+00,1.000144e+00,1.000144e+00,1.000144e+00,1.000144e+00
min,-1.886853e+00,-5.060005e+00,-1.404554e+00,-1.630386e+00,-1.725433e+00,-3.000960e+00,-6.620950e-01
25%,-8.027210e-01,-5.106073e-01,-6.687383e-01,-9.662184e-01,4.514214e-01,3.332266e-01,-6.620950e-01
50%,9.406140e-02,2.077187e-01,-1.431405e-01,-9.662184e-01,4.514214e-01,3.332266e-01,-6.620950e-01
75%,7.466642e-01,6.866027e-01,4.875770e-01,1.026284e+00,4.514214e-01,3.332266e-01,9.670998e-01
max,1.832670e+00,1.644371e+00,1.555329e+01,1.026284e+00,2.628276e+00,3.332266e-01,2.596295e+00

In [50]:
#2.In credit scoring data , you have to apply Encoding(All types) , And let suppose you encode all data from label encooder
 #then on all numerical data you have to apply log transformation using function transofrmer .

In [63]:
df=pd.read_csv('/content/credit_scoring - credit_scoring (1).csv')
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [65]:
df.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [64]:
# Label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [66]:
df['Gender']=le.fit_transform(df['Gender'])
df['Marital Status']=le.fit_transform(df['Marital Status'])
df['Education Level']=le.fit_transform(df['Education Level'])
df['Type of Loan']=le.fit_transform(df['Type of Loan'])
df['Employment Status']=le.fit_transform(df['Employment Status'])

In [67]:
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,1,1,2,0,0.22,2685,2,4675000,2.65,48,2
1,25,1,1,1,2,0.20,2371,9,3619000,5.19,60,0
2,30,0,2,2,0,0.22,2771,6,957000,2.76,12,0
3,58,0,1,3,2,0.12,1371,2,4731000,6.57,60,0
4,32,1,1,0,1,0.99,828,2,3289000,6.28,36,2

In [ ]:
# Ordinal encoding

In [68]:
df=pd.read_csv('/content/credit_scoring - credit_scoring (1).csv')
df.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan

In [72]:
df['Type of Loan'].value_counts()

Type of Loan
Auto Loan        348
Home Loan        328
Personal Loan    324
Name: count, dtype: int64

In [73]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Male','Female'],['Married','Divorced','Single'],
                              ['Master','High School','PhD','Bachelor'],
                              ['Self-Employed','Employed','Unemployed'],
                              ['Auto Loan','Home Loan','Personal Loan']])

In [74]:
df_ar=oe.fit_transform(df[['Gender','Marital Status','Education Level','Employment Status','Type of Loan']])

In [75]:
df_new=pd.DataFrame(df_ar,columns=['Gender','Marital Status','Education Level','Employment Status','Type of Loan'])

In [76]:
df_new

     Gender  Marital Status  Education Level  Employment Status  Type of Loan
0       0.0             0.0              0.0                1.0           2.0
1       0.0             0.0              1.0                2.0           0.0
2       1.0             2.0              0.0                1.0           0.0
3       1.0             0.0              2.0                2.0           0.0
4       0.0             0.0              3.0                0.0           2.0
..      ...             ...              ...                ...           ...
995     0.0             1.0              1.0                1.0           0.0
996     0.0             1.0              3.0                2.0           1.0
997     1.0             2.0              0.0                0.0           2.0
998     1.0             0.0              2.0                0.0           0.0
999     1.0             0.0              0.0                0.0           0.0

[1000 rows x 5 columns]

In [ ]:
# one hot encoder

In [77]:
df=pd.read_csv('/content/credit_scoring - credit_scoring (1).csv')
df.head(3)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan