<a href="https://colab.research.google.com/github/Ans365332/6may-file-example/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data="tushar"
i=0
while(i<6):
  print(i,data[i])
  i+=1

0 t
1 u
2 s
3 h
4 a
5 r

In [ ]:
data="tushar"
for i in range(5,-1,-1):
  print(i,data[i])

5 r
4 a
3 h
2 s
1 u
0 t

In [ ]:
data="tushar"
i=5
while(i>=0):
  print(i,data[i])
  i-=1

5 r
4 a
3 h
2 s
1 u
0 t

In [ ]:
data="tushar"
i=0
j=5
while(i<6):
  print(i,data[i],data[j])
  i+=1
  j-=1

0 t r
1 u a
2 s h
3 h s
4 a u
5 r t

In [ ]:
data="tussat"
i=0
j=5
while(i<j):
  if(data[i]==data[j]):
    print(i,j)

  i+=1
  j-=1

0 5
2 3

In [ ]:
ta

In [ ]:
#pallindrom----->
data="tussut"
i=0
j=5
a=0
while(i<j):
  if(data[i]!=data[j]):
     a=1
     break

  i+=1
  j-=1

if(a==1):
  print("not a pallindrome")
else:
  print(" pallindrome")

 pallindrome

In [ ]:
data="regexsoftware"
i=0
j=12
while(i<j):
  print(data[i],i)
  i+=1
  j-=1

r 0
e 1
g 2
e 3
x 4
s 5

In [ ]:

data="regexsregex"
i=0
j=len(data)//2+1
while(i<len(data)//2):
  print(i,data[i],j,data[j])
  i+=1
  j+=1

0 r 6 r
1 e 7 e
2 g 8 g
3 e 9 e
4 x 10 x

In [ ]:
#symmetric condition
data="regexsregex"
i=0
j=len(data)//2+1
a=0
while(i<len(data)):
  if(data[i]==data[j]):
    a=1
    break
  i+=1
  j+=1
if(a==0):
  print("Not a symmetry")
else:
  print("symmetry")

symmetry

In [ ]:
a=input("Enter your string:")
b=int(input("Enter position:"))
i=0
while(i<=(len(a)-1)):
  if(i==b):
   print(a[b])

  i+=1

Enter your string:anshu
Enter position:1
n

In [ ]:
a=input("Enter your string:")
b=input("Enter your character:")
i=0
while(i<=(len(a)-1)):
   if(b==a[i]):
     print(i)
   i+=1

Enter your string:anshu
Enter your character:s
2

In [2]:
data=input("Enter your string:")
b=int(input("Enter postion i:"))
c=int(input("Enter postion j:"))

i=0
j=len(data)-1
a=0
while(i<(len(data)-1)):
  if(data[i]!=data[j]):
    a=1
    break
  i+=1
  j-=1

if(a==1):
  print("no")
else:
  print("yes")

Enter your string:abcxcba
Enter postion i:2
Enter postion j:4
yes

In [4]:
for i in range(1,9):
  print("---->python student",i)

  for j in range(1,7):
    print("student--",i,"assignment",j)

---->python student 1
student-- 1 assignment 1
student-- 1 assignment 2
student-- 1 assignment 3
student-- 1 assignment 4
student-- 1 assignment 5
student-- 1 assignment 6
---->python student 2
student-- 2 assignment 1
student-- 2 assignment 2
student-- 2 assignment 3
student-- 2 assignment 4
student-- 2 assignment 5
student-- 2 assignment 6
---->python student 3
student-- 3 assignment 1
student-- 3 assignment 2
student-- 3 assignment 3
student-- 3 assignment 4
student-- 3 assignment 5
student-- 3 assignment 6
---->python student 4
student-- 4 assignment 1
student-- 4 assignment 2
student-- 4 assignment 3
student-- 4 assignment 4
student-- 4 assignment 5
student-- 4 assignment 6
---->python student 5
student-- 5 assignment 1
student-- 5 assignment 2
student-- 5 assignment 3
student-- 5 assignment 4
student-- 5 assignment 5
student-- 5 assignment 6
---->python student 6
student-- 6 assignment 1
student-- 6 assignment 2
student-- 6 assignment 3
student-- 6 assignment 4
student-- 6 assignment 5
student-- 6 assignment 6
---->python student 7
student-- 7 assignment 1
student-- 7 assignment 2
student-- 7 assignment 3
student-- 7 assignment 4
student-- 7 assignment 5
student-- 7 assignment 6
---->python student 8
student-- 8 assignment 1
student-- 8 assignment 2
student-- 8 assignment 3
student-- 8 assignment 4
student-- 8 assignment 5
student-- 8 assignment 6

In [5]:
for i in range(10,0,-1):
  print("python student",i)

  for j in range(1,9):
    print("student---",i,"assignment",j)

python student 10
student--- 10 assignment 1
student--- 10 assignment 2
student--- 10 assignment 3
student--- 10 assignment 4
student--- 10 assignment 5
student--- 10 assignment 6
student--- 10 assignment 7
student--- 10 assignment 8
python student 9
student--- 9 assignment 1
student--- 9 assignment 2
student--- 9 assignment 3
student--- 9 assignment 4
student--- 9 assignment 5
student--- 9 assignment 6
student--- 9 assignment 7
student--- 9 assignment 8
python student 8
student--- 8 assignment 1
student--- 8 assignment 2
student--- 8 assignment 3
student--- 8 assignment 4
student--- 8 assignment 5
student--- 8 assignment 6
student--- 8 assignment 7
student--- 8 assignment 8
python student 7
student--- 7 assignment 1
student--- 7 assignment 2
student--- 7 assignment 3
student--- 7 assignment 4
student--- 7 assignment 5
student--- 7 assignment 6
student--- 7 assignment 7
student--- 7 assignment 8
python student 6
student--- 6 assignment 1
student--- 6 assignment 2
student--- 6 assignment 3
student--- 6 assignment 4
student--- 6 assignment 5
student--- 6 assignment 6
student--- 6 assignment 7
student--- 6 assignment 8
python student 5
student--- 5 assignment 1
student--- 5 assignment 2
student--- 5 assignment 3
student--- 5 assignment 4
student--- 5 assignment 5
student--- 5 assignment 6
student--- 5 assignment 7
student--- 5 assignment 8
python student 4
student--- 4 assignment 1
student--- 4 assignment 2
student--- 4 assignment 3
student--- 4 assignment 4
student--- 4 assignment 5
student--- 4 assignment 6
student--- 4 assignment 7
student--- 4 assignment 8
python student 3
student--- 3 assignment 1
student--- 3 assignment 2
student--- 3 assignment 3
student--- 3 assignment 4
student--- 3 assignment 5
student--- 3 assignment 6
student--- 3 assignment 7
student--- 3 assignment 8
python student 2
student--- 2 assignment 1
student--- 2 assignment 2
student--- 2 assignment 3
student--- 2 assignment 4
student--- 2 assignment 5
student--- 2 assignment 6
student--- 2 assignment 7
student--- 2 assignment 8
python student 1
student--- 1 assignment 1
student--- 1 assignment 2
student--- 1 assignment 3
student--- 1 assignment 4
student--- 1 assignment 5
student--- 1 assignment 6
student--- 1 assignment 7
student--- 1 assignment 8

In [11]:
count=1
for i in range(1,9):
  print("python student:",i)

  for j in range(1,7):
    print("Assignment:",count,end=" ")
    count+=1
  print("  ")

python student: 1
Assignment: 1 Assignment: 2 Assignment: 3 Assignment: 4 Assignment: 5 Assignment: 6
python student: 2
Assignment: 7 Assignment: 8 Assignment: 9 Assignment: 10 Assignment: 11 Assignment: 12
python student: 3
Assignment: 13 Assignment: 14 Assignment: 15 Assignment: 16 Assignment: 17 Assignment: 18
python student: 4
Assignment: 19 Assignment: 20 Assignment: 21 Assignment: 22 Assignment: 23 Assignment: 24
python student: 5
Assignment: 25 Assignment: 26 Assignment: 27 Assignment: 28 Assignment: 29 Assignment: 30
python student: 6
Assignment: 31 Assignment: 32 Assignment: 33 Assignment: 34 Assignment: 35 Assignment: 36
python student: 7
Assignment: 37 Assignment: 38 Assignment: 39 Assignment: 40 Assignment: 41 Assignment: 42
python student: 8
Assignment: 43 Assignment: 44 Assignment: 45 Assignment: 46 Assignment: 47 Assignment: 48

In [19]:
for i in range(1,5):
  print("python student:",i)

  for j in range(1,6-i):
    print("Assignment:",j,end=" ")

  print(" ")

python student: 1
Assignment: 1 Assignment: 2 Assignment: 3 Assignment: 4
python student: 2
Assignment: 1 Assignment: 2 Assignment: 3
python student: 3
Assignment: 1 Assignment: 2
python student: 4
Assignment: 1

In [25]:
for i in range(5,0,-1):
  print("python student:",i)

  for j in range(1,i+1):
    print("Assignment:",j,end=" ")
  print("   ")

python student: 5
Assignment: 1 Assignment: 2 Assignment: 3 Assignment: 4 Assignment: 5
python student: 4
Assignment: 1 Assignment: 2 Assignment: 3 Assignment: 4
python student: 3
Assignment: 1 Assignment: 2 Assignment: 3
python student: 2
Assignment: 1 Assignment: 2
python student: 1
Assignment: 1

In [28]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="  ")
  print("  ")

*
*  *
*  *  *
*  *  *  *

In [47]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print("  ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [50]:
for i in range(4,-1,-1):
  for j in range(4,0,-1):
    print(i,end="  ")
  print("  ")

4  4  4  4
3  3  3  3
2  2  2  2
1  1  1  1
0  0  0  0

In [48]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end="  ")
  print("  ")

1  2  3  4
1  2  3  4
1  2  3  4
1  2  3  4

In [56]:
for i in range(7,11):
  for j in range(7,10):
    print(j,end=" ")
  print(" ")

7 8 9
7 8 9
7 8 9
7 8 9

In [57]:
for i in range(65,69):
  for j in range(65,69):
    print(chr(j),end=" ")
  print("  ")

A B C D
A B C D
A B C D
A B C D

In [62]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [71]:
for i in range(1,5):
  for j in range(4,i-1,-1):
    print(j,end=" ")
  print(" ")

4 3 2 1
4 3 2
4 3
4